/* Index.html */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

/* About.html */
.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin-top: 50px;
}
.about-image {
    flex: 1;
    padding: 20px;
}
.about-text {
    flex: 1;
    padding: 20px;
}
.about-button {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack image above text on smaller screens */
        text-align: center;
    }
    .about-image, .about-text {
        flex: none;
        width: 100%;
    }
}

/* Services.html */
.row{
    margin-top: 50px;
}

.fw-normal{
    margin-top: 25px;
}